<div class="modal-content">
    <h4>You Have Entered Tier Five</h4>
    <p>You are Within 100 feet!</p>
</div>
<div class="modal-footer">
  <%= form_for @game, html: {method: :put}, url: game_over_path do |f| %>
  <%= f.hidden_field :game_over?, :value => true %>
  <%= f.hidden_field :winner, :value => @game.seeker_id %>
  <%= f.hidden_field :loser, :value => @game.hider_id %>
  <%= f.submit 'YOU WIN!!!' %>
  <% end %>
</div>
